body {
    background-image: url(./images/bg31.jpg);
    background-color: #21201e;
    background-position: fixed;
    background-size: 100%;

    background-repeat: auto;
    color: #fea609;


}

.parent {
    margin-top: 50px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 05px;

}
.parent-item {
    flex: 1; /* Each item takes equal space */
    flex-basis: calc(33.33% - 20px); /* Calculate width with some margin between items */
    margin: 10px; /* Adjust margin as needed */
    box-sizing: border-box; /* Include padding and border in the width */
  }

h1 {
    text-align: center;
}

.maindiv {
    width: 400px;

    background-color: #21201e;
    opacity: 90%;
    padding: 15px;
    border-radius: 18px 0px 0px 18px;
    box-shadow: 0 0px 4px #fea609;

    margin-top: 0px;

}

.listdiv {
    width: 400px;

    background-color: #21201e;
    opacity: 90%;
    padding: 20px;
    border-radius: 0px 18px 18px 0px;
    box-shadow: 0 0px 4px #fea609;

    margin-top: 0px;
}


.maindiv img {
    width: 60px;
    height: 60px;
    margin-top: -100px;
    margin-left: -40px;
}

.listdiv img {
    width: 60px;
    height: 60px;
    margin-top: -45px;
    margin-right: -40px;
    float: right;
}

input {
    width: 350px;
    height: 30px;
    color: #fea609;
    margin-bottom: 10px;
    border-radius: 05px;
    border: #fea609;
    background-color: black;

}

#Submit-btn {

    padding: 10px;
    color: #fea609;
    background-color: black;
    border-radius: 05px;
    border: #ddd;
}

#itemList li {
    padding: 20px;
    list-style: none;
    /*box-shadow: 0 4px 8px rgba(62, 233, 0, 0.1); */
    margin-left: -50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.delete-btn {
    float: right;
    /* background-color: red; */
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.completed-task {
    text-decoration: line-through;
    /* Add a strikethrough effect */
    color: #888;
    /* Change the color as needed */

}

.important-task {
    background-color: orange;
    /* Change the color as needed */
    color: #21201e;
}

.button-container {
    display: inline-block;
    margin-left: 10px;
}

.mark-important-btn {
    background-color: black;
    /* Change the color as needed */
    color: #fea609;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-right: 2px;
    border-radius: 10px;
}

.edit-task-btn {
    background-color: black;
    /* Change the color as needed */
    color: #fea609;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-right: 2px;
    border-radius: 10px;
}

.mark-completed-checkbox {
    float: left;
    margin-left: -10px;
    padding: 10px;
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;

}