@font-face {
    font-family: mySecondFont;
    src: url(fonts/eurostile.ttf);
    font-weight: 700;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/ProgressPersonalUse-EaJdz.ttf);
    font-weight: 700;
}

body {
    background-image: url(./images/bg2.jpg);
    background-color: white;
    color: black;
    background-position: fixed;
    background-size: 100%;

    background-repeat: auto;
    font-family: myFirstFont;
}

li {
    font-family: mySecondFont;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.parent {

    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


.parent-item {
    width: 45%;

    float: left;
    background-color: white;
    opacity: 90%;
    padding: 20px;
    min-height: 190px;
    box-shadow: 0 0px 4px darkblue;
    margin-left: 5px;
    margin-top: 0px;
}

.maindiv {
    border-radius: 18px 0px 0px 18px;
}

.listdiv {
    border-radius: 0px 18px 18px 0px;
}

label {
    padding: 10px;
}


.maindiv img {
    width: 60px;
    height: 60px;
    margin-top: -100px;
    margin-left: -40px;
}

.listdiv img {
    width: 60px;
    height: 60px;
    margin-top: -45px;
    margin-right: -40px;
    float: right;
}


input[type=text] {
    /* color: #fea609; */
    margin-bottom: 10px;
    border-radius: 05px;
    padding: 08px;
    border: 1px solid #ccc;
    resize: vertical;
}

#Submit-btn {
    border-radius: 05px;
    border: #ddd;



    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#itemList li {
    padding: 20px;
    list-style: none;

    margin-left: -60px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.delete-btn {
    float: right;

    color: red;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 10px;

}

.delete-btn img {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.completed-task {
    text-decoration: line-through;
    /* Add a strikethrough effect */
    color: #888;
    /* Change the color as needed */

}

.important-task {
    background-color: #21201e;
    /* Change the color as needed */
    color: white;
}

.button-container {
    display: inline-block;
    margin-left: 10px;
}

.mark-important-btn {
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    float: right;
    margin-right: 2px;
    border-radius: 10px;
}

.mark-important-btn img {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.edit-task-btn {
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    float: right;
    margin-right: 2px;
    border-radius: 10px;
}

.edit-task-btn img {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.mark-completed-checkbox {
    float: left;
    margin-left: -10px;
    padding: 10px;
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;

}
/* css for sliding */

@keyframes slideIn {
    from {
      transform: translateZ(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .maindiv  {
    transform: translateX(-100%);
    animation: slideIn 1s ease-in-out forwards;
  }
  .listdiv  {
    transform: translateX(100%);
    animation: slideIn 1s ease-in-out forwards;
  }
     /* css for pop-up modal */ 
 .parentmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21201e;
    opacity: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
 }
.modal {
    background-color: whitesmoke;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .modal input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .modal button {
    margin-right: 10px;
  }
  